
<form action="http://localhost:2506/bg/Add" method="post" id="tasksForm" >
    <input type="text"      placeholder="bg name..."     id="bg_name"     name="bg_name"   ><br>
    <input type="text"      placeholder="bg color..."      id="bg_color"       name="bg_color"        ><br>
    <input type="text"  placeholder="text color..."       id="bg_text_color"       name="bg_text_color"        ><br>
    <button>Add</button>
</form>
<table>
    <thead>
    <tr>
        <th> Edit </th>
        <th> ID </th>
        <th> שם הרקע </th>
        <th> שם הצבע </th>
        <th> צבע הטקסט </th>
        <th> Delete </th>
    </tr>
    </thead>
    <tbody></tbody>
</table>