<input type="text" id="nameInp" placeholder="Category Name..." name="name"><br>
<input type="button" value="add" onclick="addLine()"><br>
<table>
    <thead>
    <tr>
        <th> Edit </th>
        <th> שם קטגוריה </th>
        <th> ID </th>
        <th> Delete </th>
    </tr>
    </thead>
    <tbody></tbody>
</table>