<form action="/Tasks/Add" >
<input type="text" placeholder="task Name..." name="Missions_Name"><br>
<input type="text" placeholder="Owner Id..." name="Owner_Id"><br>
<input type="text" placeholder="Due Date..." name="Due_Date"><br>
<input type="text" placeholder="Done Date..." name="Done_Date"><br>
<select name="Category_Id" id="Category_Id">
</select><br>
    <input type="text" placeholder="Done Date..." name="Done_Date"><br>

<input type="text" placeholder="Creator Id..." name="Creator_Id"><br>
<input type="button">
</form>
<table>
    <thead>
    <tr>
        <th> Edit </th>
        <th> ID </th>
        <th> שם מטלה </th>
        <th> תחילת עבודה </th>
        <th> מועד הגשה </th>
        <th> קטגוריה </th>
        <th> יוצר המטלה </th>
        <th> Delete </th>
    </tr>
    </thead>
    <tbody></tbody>
</table>